.chat_main
  .chat_main__group_info
    .chet_main__group_info__left
      .chet_main__group_info__left__test
        test
      .chet_main__group_info__left__name
        member:masa
    .chet_main__group_info__right
      = link_to"#" do
        edit
  .chat_main__massage_list
    .chat_main__massage_list__name
      .chat_main__massage_list__name__masa
        masa
      .chat_main__massage_list__name__date
        2019/11/20(wed) 17:43:01
    .chat_main__massage_list__messege
      おはよう！
    .chat_main__massage_list__name2
      .chat_main__massage_list__name2__masa
        masa
      .chat_main__massage_list__name2__date
        2019/11/20(wed) 17:43:34
    .chat_main__massage_list__massege2
      今日は夜から雨
  .chat_main__massage_form
    .chat_main__massage_form__left
      .chat_main__massage_form__left__messege
        type a message
      %label{class: "chat_main__massage_form__left__icon"}
        = icon('fa', 'image')
        %input{type: "file", class: "chat_main__massage_form__left__icon__file"}
    %input{type: "submit", class: "chat_main__massage_form__right"}
    