.side_bar
  .side_bar__user_name
    .side_bar__user_name__box
      .side_bar__user_name__box__user_name
        MASA
      .side_bar__user_name__box__icon
        = link_to"#" do
          = icon('far', 'edit')
        = link_to "#" do
          = icon('fa', 'cog')
  .side_bar__group_list
    .side_bar__group_list__theme
      techcamp
    .side_bar__group_list__message
      まだメッセージがありません
