* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  display: flex;
}


.side_bar {
  width: 300px;
  background-color: #253141;
  height: 100vh;
  &__user_name {
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    &__box{
      margin: 0 20px 0 20px;
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__user_name{
        font-size: 16px;
        color: $white;
      }
      &__icon{
        width: 60px;
        display: flex;
        a{
          color: $white;
          text-decoration: none;
          padding: 5px;
        }
      }
    }
  }
  &__group_list {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    width: 300px;
    &__group{
      &__name{
        color: $white;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 5px;
      }
      &__message{
        color: $white;
        font-size: 11px;
        padding-bottom: 40px;
      }
    }
  } 
}

.chat_main  {
  width: calc(100vw - 300px);
  background-color: $white;
  height: 100vh;
  &__group_info{
    height: 100px;
    border-bottom-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__left{
      margin-left: 40px;
    }
      &__test{
        color: $black;
        margin-top: 35px;
        margin-bottom: 15px;
        font-size: 20px;
      }
        
      &__name{
        color: $gray;
        font-size: 12px;
      }
        
    &__right{
      color: #38aef0;
      margin-right: 40px;
      width: 72px;
      font-size: 16px;
      margin-top: 28px;
      height: 40px;
      padding-left: 20px;
      padding-right: 20px;
      
      a{
        text-decoration: none;
      }
    }
  }
  &__massage_list{
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding-left: 40px;
    &__name{
      justify-content: space-between;
      display: flex;
      padding-top: 35px;
      padding-bottom: 12px;
      &__masa{
        font-size: 16px;
        color: $black;
      }
      &__date{
        font-size: 12px;
        color: $gray;
      }
    }
    &__messege{
      padding-bottom: 46px;
      color: $darkgray;
      font-size: 14px;
    }
    &__name2{
      justify-content: space-between;
      display: flex;
      &__masa{
        font-size: 16px;
        color: $black;
      }
      &__date{
        font-size: 12px;
        color: $gray;
      }
    }
    &__massege2{
      padding-bottom: 46px;
      color: $darkgray;
      font-size: 14px;
    }
  }
  &__massage_form{
    height: 90px;
    background-color: #d2d2d2;
    justify-content: space-between;
      display: flex;
    &__left{
      line-height: 50px;
      height: 50px;
      justify-content: space-between;
      display: flex;
      margin-top: 20px;
      margin-left: 40px;
      background-color: white;
      width: calc(100vw - 500px);
      margin-right: 15px;
      position: relative;
      &__messege{
        color: $darkgray;
        margin-left: 10px;
      }
      &__icon{
        margin-right: 10px;
        position: absolute;
        right: 10px;
        &__file{
          display: none;
        }
      }
    }
    &__right{
      height: 50px;
      line-height: 50px;
      margin-top: 20px;
      width: 100px;
      margin-right: 40px;
      background-color: #38aef0;
      color: white;
      text-align: center;
      cursor: pointer;
    }
  }
}



